body {
    background-color: #f3f3f3;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: black;
    margin: 15px;
}
h1 {
    font-size: 33px;
    font-style: italic;
    font-weight: normal;
    margin: 0px;
}
h2 {
    font-size: 19px;
    font-style: italic;
    font-weight: normal;
    margin: 0px;
    margin-top: 4px;
}
h3 {
    font-size: 16.5px;
    margin-top: 10px;
    margin-bottom: 8px;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #eaeaea;
    empty-cells: show;
}

td {
    border: 2px solid black;
    vertical-align: middle;
    padding: 5px;
}
td:nth-child(1) {
    text-align: right;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 22px;
    width: 40px;
}
td:nth-child(2), td:nth-last-child(4) {font-style: italic; width: 340px;}
td:nth-child(1):hover, td:nth-child(2):hover, td:nth-last-child(4):hover, .credit:hover {color: blue; cursor: pointer;}
td:nth-last-child(3) {text-align: center; width: 100px;}
td:nth-last-child(2) {text-align: center; width: 160px;}
td:nth-last-child(1) {padding: 0px; line-height: 0; height: 100px; width: 100px;}
img:hover {
    cursor: pointer;
    filter: opacity(50%);
}

.b-x {background-color: #a69608;}
.n-x {background-color: #bfb44d;}
.b-king-trolley {background-color: #4f1568; color: white}
.n-king-trolley {background-color: #ad76c4;}
.b-king-rapidride {background-color: #b60000;}
.n-king-rapidride {background-color: #ef5a5d;}
.b-king-schools {background-color: #4abeba;}
.n-king-schools {background-color: #bfcfcf;}
.b-king-nonbus {background-color: #76bdf0; color: white}
.n-king-nonbus {background-color: #a5d0e9;}
.b-king-0 {background-color: #0a664f; color: white}
.n-king-0 {background-color: #62b39d;}
.b-king-1 {background-color: #1c7b8c;}
.n-king-1 {background-color: #69acb8;}
.b-king-2 {background-color: #1f279c; color: white}
.n-king-2 {background-color: #6a72de;}
.b-king-3 {background-color: #348289;}
.n-king-3 {background-color: #7ec7ca;}
.b-king-7 {background-color: #13006a; color: white}
.n-king-7 {background-color: #7370c0;}
.b-sound-0 {background-color: #002670;}
.n-sound-0 {background-color: #e0e0e6;}
.b-sound-5 {background-color: #f0f0ff;}
.n-sound-5 {background-color: #c7d8f5;}
.b-everett- {background-color: #ef0000;}
.n-everett- {background-color: #97a2a9;}
.b-community-1 {background-color: #0081e0;}
.n-community-1 {background-color: #b9dffa;}
.b-community-2 {background-color: #0056c3; color: white}
.n-community-2 {background-color: #74adf7;}
.b-community-7 {background-color: #00b332;}
.n-community-7 {background-color: #a1e6a5;}
.b-community-9 {background-color: #0030c0; color: white}
.n-community-9 {background-color: #ffffff;}
.b-pierce- {background-color: #4dbb34; color: white}
.n-pierce- {background-color: #f4fff4;}
.b-intercity- {background-color: #254391; color: white}
.n-intercity- {background-color: #c7e3fb;}
.b-kitsap-0 {background-color: #f4a03f;}
.n-kitsap-0 {background-color: #fff4e8;}
.b-kitsap-2 {background-color: #5b92a3; color: white}
.n-kitsap-2 {background-color: #a0dfeb;}
.b-kitsap-3 {background-color: #2c717c;}
.n-kitsap-3 {background-color: #60a1a6;}
.b-kitsap-4 {background-color: #ea7037; color: white}
.n-kitsap-4 {background-color: #f2aa79;}
.b-kitsap-6 {background-color: #ffffff;}
.n-kitsap-6 {background-color: #f0fdff;}
.b-kitsap-8 {background-color: #256fa4; color: white}
.n-kitsap-8 {background-color: #badfe6;}
.b-skagit- {background-color: #194122; color: white}
.n-skagit- {background-color: #fbfffb;}
.b-whatcom- {background-color: #3f968e;}
.n-whatcom- {background-color: #71bfbd;}
.b-lewis- {background-color: #07253b; color: white}
.n-lewis- {background-color: #b2b6bb;}
.b-central- {background-color: #3ba0e3; color: white}
.n-central- {background-color: #ffffff;}

.king-dart {
    color: #ef2400;
    font-style: italic;
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: -2px;
    letter-spacing: 0.06rem;
}
#sound-cN, #sound-cS {background-color: #9ab6d3;}
#sound-cT {background-color: #f38b00;}
#sound-c1 {background-color: #3dae2b; color: white}
#sound-c2 {background-color: #00a0df; color: white}
.community-swift {
    color: #0060d0;
    font-style: italic;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin: -5px;
    margin-right: 4px;
}
#intercity-one {
    text-align: center;
    font-size: 30px;
    font-family: Courier New, sans-serif;
    margin-bottom: -12px;
    margin-top: 10px;
}
.intercity-green {color: #80e54a;}

.circle {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin: 0 auto;
}
.mediumnum {
    font-size: 16px;
}
.smallnum {
    font-size: 13px;
    margin: -5px;
    text-align: center;
}
.discontinued {color: #8a1919; padding: 0px;}
.delisted {color: #f70000; padding: 0px;}
.complete {background-color: #b4ffc0; font-family: "Arial", sans-serif;}
.incomplete {background-color: #d5d5d5; color: #707070; font-size: 10px;}
