body {
    margin: 15px;
    background-color: #f3f3f3;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: black
}

h1 {
    font-size: 32px;
    font-style: italic;
    font-weight: normal;
    margin: 0px;
}

h2 {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    margin-top: 5px;
}

h3 {
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
    top: -9px;
    position: relative;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #eaeaea;
}

td {
    border: 2px solid black;
    vertical-align: middle;
    padding: 5px;
}

td:nth-child(1) {
    text-align: right;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 22px;
}
td:nth-child(1):hover {color: blue; cursor: pointer;}
td:nth-child(2) {font-style: italic; width: 340px;}
td:nth-child(2):hover {color: blue; cursor: pointer;}
td:nth-child(3) {font-style: italic; width: 340px;}
td:nth-child(3):hover {color: blue; cursor: pointer;}
td:nth-child(4) {text-align: center; width: 100px;}
td:nth-child(5) {text-align: center; width: 160px;}
td:nth-child(6) {padding: 0px; line-height: 0; height: 100px;}
img:hover {
    cursor: pointer;
    filter: opacity(50%);
}

.b-trolley {background-color: #4f1568; color: white}
.n-trolley {background-color: #ad76c4;}
.b-rapidride {background-color: #b60000; color: white}
.n-rapidride {background-color: #ef5a5d;}
.b-schools {background-color: #4abeba;}
.n-schools {background-color: #bfcfcf;}
.b-special {background-color: #a69608;}
.n-special {background-color: #bfb44d;}
.b-nonbus {background-color: #76bdf0; color: white}
.n-nonbus {background-color: #a5d0e9;}

.b-K0 {background-color: #0a664f; color: white}
.n-K0 {background-color: #62b39d;}
.b-K1 {background-color: #1c7b8c;}
.n-K1 {background-color: #69acb8;}
.b-K2 {background-color: #1f279c; color: white}
.n-K2 {background-color: #6a72de;}
.b-K3 {background-color: #009e9b;}
.n-K3 {background-color: #7acccb;}
.b-K7 {background-color: #13006a; color: white}
.n-K7 {background-color: #7370c0;}
.b-S5 {background-color: #f0f0ff;}
.n-S5 {background-color: #c7d8f5;}
.b-E0 {background-color: #ef0000;}
.n-E0 {background-color: #97a2a9;}
.b-C1 {background-color: #0081e0;}
.n-C1 {background-color: #b9dffa;}
.b-C2 {background-color: #0056c3; color : white}
.n-C2 {background-color: #74adf7;}
.b-C7 {background-color: #00b332;}
.n-C7 {background-color: #a1e6a5;}
.b-C9 {background-color: #0030c0; color: white}
.n-C9 {background-color: #ffffff;}

.dart {
    color: #ef2400;
    font-style: italic;
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: -2px;
    letter-spacing: 0.06rem;
}
.swift {
    color: #0060d0;
    font-style: italic;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin: -5px;
    margin-right: 4px;
}
.discontinued {color: #8a1919;}
.delisted {color: #f70000;}
.complete {background-color: #b4ffc0; font-family: "Arial", sans-serif;}
.incomplete {background-color: #d5d5d5; color: #707070; font-size: 10px;}
